html, body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1em;
    text-align: center;
    background-color: rgba(219, 253, 253, 0.889);
    background-size: cover;
    background-repeat: space;
}

h1, h2 {
    /* font-family: ; */
    color: rgba(9, 9, 156, 0.704);

}

canvas {
    background-color: rgb(33, 142, 42);
    width: 100%;
    height: 100%;
    border: 5px solid black;
}

